 body {
            font-family: Arial, sans-serif;
            margin: 0;
            height: 100vh; /* altura total da tela */
            display: flex;
            justify-content: center; /* centraliza horizontalmente */
            align-items: center;     /* centraliza verticalmente */
            background-color: #483a81;
        }

        form {
            color: white;
            background-color: rgba(255, 255, 255, 0.316);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            width: 350px;
        }

        label {
            
            margin-top: 15px;
            
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
            
        }

        button {
            margin-top: 20px;
            padding: 10px 15px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;       /* adciona mãozinha no cursor*/
            font-size: 16px;
            border-radius: 5px;
        }

        button:hover {    /* mostra o status do elemento button*/
            background-color: #45a049;
        }